@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movies

<main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <br />
    <br />
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>@Model.Title has been changed. Thank you!</h2>
            </div>
        </div>
        <br><br>
    </section><!-- End Why Choose Us Section -->
</main>

