@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">The Joel Hilton Film Collection</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>A place to easily enter and keep track of movies</p>
          </blockquote>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a asp-controller="Home" asp-action="About" class="btn-get-started">About</a>
                    <a asp-controller="Home" asp-action="Movies" class="glightbox btn-watch-video d-flex align-items-center">Movies</a>
                </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  