@model Application

<main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="section-header">
            <h2>Add to the Collection</h2>

        </div>
        <div class="container" data-aos="fade-up">

            <form method="post">
                <label asp-for="Category">Category:</label>
                <input asp-for="Category" required />
                <br />
                <br />
                <label asp-for="Title">Title:</label>
                <input asp-for="Title" required />
                <br />
                <br />
                <label asp-for="Year">Year:</label>
                <input asp-for="Year" type="number" required />
                <br />
                <br />
                <label asp-for="Director">Director:</label>
                <input asp-for="Director" required />
                <br />
                <br />
                <label asp-for="Rating">Rating:</label>
                <select asp-for="Rating" required>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select>
                <br />
                <br />
                <label asp-for="Edited">Edited:</label>
                <select asp-for="Edited" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>

                <br />
                <br />
                <label asp-for="LentTo">Lent to:</label>
                <input asp-for="LentTo" />
                <br />
                <br />
                <label asp-for="Notes">Notes:</label>
                <input asp-for="Notes" maxlength="25" />
                <br />
                <br />

                <button type="submit">Submit Movie</button>
            </form>



            

        </div>
        <br><br>
    </section><!-- End Why Choose Us Section -->
</main>